/* TODO: Cleanup base by moving semnatically related stiff into the appropriate files in asstes/styles/... */

@import url(https://fonts.googleapis.com/css?family=News+Cycle);

/* Defaultsto reset User Agent Settings + css vars */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* header related vars */
  --header-height-mobile: 75px;
  --header-bg-color: #56c6c6;
  --header-font-color: hsla(200, 0%, 0%, 0.7);
  --header-nav-item-hover-bg-color: #79d2d2;
  --header-nav-item-hover-border-color: #14b8b8;
  --header-nav-item-hover-font-color: #fff;
  --nav-overlay-bg-color: rgba(0, 0, 0, 0.3);

  /*section related vars */
  --section-icon-circle-color: cornflowerblue;
  --section-icon-color: white;
}

html {
  scroll-behavior: smooth;
}

/* toggled as needded on body tag to prevent / allow scrolling */
.noscroll {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "News Cycle";
}

#container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  /* To prevent child content exceeding the grid-container! (and: yeah - I gonna need that comment to learn ;-) */
  grid-template-columns: minmax(0, 1fr);
}

header {
  grid-row: 1;
  grid-column: 1;

  z-index: 100;
  width: 100%;
  height: var(--header-height-mobile);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
  background-color: var(--header-bg-color);
  color: var(--header-font-color);
  font-weight: bold;
  font-size: 1.25rem;
}

main {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  flex-direction: column;
}

footer {
  grid-column: 1;
  grid-row: 3;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  background-color: #414a4f;
  padding: 60px 0;
}

article.resumee {
  display: flex;
  flex-direction: column;
  grid-template-columns: minmax(200px, 1fr);
}

footer .icon {
  color: #fff;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 125px 100px;

  margin: 2rem;
  font-size: 1.1rem;

  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

section.hero {
  background-color: var(--header-bg-color);
  margin: 0;

  padding: 4rem;

  flex-direction: column;
  align-items: center;
}
section.hero .avatar {
  width: 175px;
  height: 175px;
  border-radius: 100%;

  z-index: 30;

  border: 3px solid #fff;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);

  transition: transform 0.7s ease-in-out;
}

/* section .hero button {
  font-family: monospace;
} */

#avatar-overlay {
  position: fixed;
  display: block;
  visibility: hidden;
  opacity: 0; /*important - otehrwise child elements like the overlay close btn linger behind until they finally vanish */
  width: 100%;
  height: 100%;
  top: var(--header-height-mobile);
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--header-nav-item-hover-bg-color);
  background-color: var(--header-bg-color);
  z-index: 2;
  cursor: pointer;

  /* transition: all 0.7s ease-in-out; */
}

#avatar-overlay button.close-overlay:hover {
  border: 1px solid var(--header-nav-item-hover-border-color);
  background-color: var(--header-nav-item-hover-bg-color);
  color: #fff;
}

#avatar-overlay button.close-overlay {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;

  font-size: 1.2rem;

  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all 0.5s ease-in-out;
  padding: 0.5rem 1rem;
}

section.hero .about-me {
  z-index: 31;
  background: transparent;
  text-align: center;

  font-size: 1.2rem;
  transition: all 0.5s ease-in-out;
}

section.hero .about-me .hire-me-line {
  visibility: hidden;
  display: none;
  opacity: 0;
}

section.hero .about-me .call-to-action {
  visibility: hidden;
  display: none;
  opacity: 0;
}

section.hero.avatar-overlay-togggled .avatar {
  transform: rotate(33deg) scale(1.3);
  z-index: 30;
}

section.hero.avatar-overlay-togggled #avatar-overlay {
  visibility: visible;
  opacity: 1;
  z-index: 2;
}

section.hero.avatar-overlay-togggled .about-me {
  margin-top: 2rem;
  z-index: 31;
  font-size: 1.3rem;
}

section.hero.avatar-overlay-togggled .about-me .hire-me-line,
section.hero.avatar-overlay-togggled .about-me .call-to-action {
  display: block;
  visibility: visible;
  opacity: 1;
}

section .circle-icon {
  color: var(--section-icon-circle-color);
}

section .section-icon {
  color: var(--section-icon-color);
}

p {
  margin: 1em;
}

/* TODO: Move !*/

header a {
  text-decoration: none;
  color: hsla(200, 0%, 0%, 0.7);
}

header a.navbar-brand {
  display: flex;
  margin-right: auto;
  padding-left: 1rem;
}

header a.navbar-brand h1 {
  font-size: 1.25rem;
}

header button.navbar-toggler {
  display: flex;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all 0.5s ease-in-out;
  padding: 0.5rem 1rem;
}

header button.navbar-toggler:hover {
  border: 1px solid var(--header-nav-item-hover-border-color);
  background-color: var(--header-nav-item-hover-bg-color);
  color: #fff;
}

header button.navbar-toggler i {
  font-size: 1.75rem;
}

header button.navbar-toggler i:before {
  content: "\f0c9";
}

header button.navbar-toggler.toggled i:before {
  content: "\f00d";
}

nav {
  visibility: hidden;
  opacity: 0;
  justify-content: center;
  flex: 1 0 100%;
  position: fixed;
  top: var(--header-height-mobile);
  left: 0;
  right: 0;
  z-index: 3;
  background-color: var(--header-bg-color);
  margin: 10px;
  border-radius: 10px;
  transition: visibility 0.3s linear, opacity 0.3s linear;
}

nav.toggled {
  display: flex;
  visibility: visible;
  opacity: 1;
}

nav.toggled + #nav-overlay {
  visibility: visible;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex: auto;
  align-items: stretch;
  padding: 5px;
}

nav ul li {
  display: flex;
  list-style: none;
  border: 1px solid transparent;
  text-align: start;
  flex: auto;
  transition: all 0.3s;
}

nav ul li a {
  flex: auto;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--header-font-color);
}

header nav ul li i {
  margin-right: 15px;
}

header nav ul li:hover {
  background-color: var(--header-nav-item-hover-bg-color);
  color: var(--header-nav-item-hover-font-color);
  border-radius: 10px;
  border: 1px solid var(--header-nav-item-hover-border-color);
}

header nav ul li:hover a {
  color: var(--header-nav-item-hover-font-color);
}

#nav-overlay {
  position: fixed;
  display: block;
  visibility: hidden;
  width: 100%;
  height: 100%;
  top: var(--header-height-mobile);
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--nav-overlay-bg-color);
  z-index: 2;
  cursor: pointer;
}

@media all and (min-width: 700px) {
  /* header related */
  header {
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 1.2rem 1.5rem;
  }
  header a.navbar-brand {
    flex: auto;
  }
  header button.navbar-toggler {
    display: none;
  }
  header nav {
    display: flex;
    visibility: visible;
    opacity: 1;
    flex: 0 1 45%;
    position: inherit;
    background-color: transparent;
    margin: 0;
    border-radius: 0;
  }
  header nav ul {
    flex-direction: row;
    padding: 0;
  }
  header nav ul li {
    flex: auto;
    justify-content: center;
    text-align: center;
  }
  header nav ul li i {
    margin-right: 5px;
  }
  header nav ul li a {
    padding: 0.5rem;
    flex: auto;
    justify-content: center;
  }
  header #nav-overlay,
  header nav.toggled + #nav-overlay {
    visibility: hidden;
  }

  /* hero related */

  section.hero .about-me {
    font-size: 2rem;
  }

  section.hero.avatar-overlay-togggled .about-me {
    font-size: 1.5rem;
  }

  /* resumee / sections related */

  article.resumee {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}

@media all and (min-width: 1500px) {
  section.hero .about-me {
    font-size: 2rem;
    width: 50%;
  }

  article.resumee {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
}
